

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #43cea2,#e0f2df,#2bd8a7);
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.total{
    margin-left: 600px;
    margin-top: 150px;
    height: 20px;
    align-items: center;
    display:grid;

}
#h3{
    margin-bottom: 10px;

}

.total {
    width: 20rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border:none;
    outline:none;

    background: linear-gradient(135deg, #51f4ee, #eaedf1);
    box-shadow: 19px 30px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;}
.h1{
    margin-left: 650px;
    margin-top: 300px;
    height: 20px;
    align-items: center;
    display:grid;

    }

